---
import Layout from '../layouts/Layout.astro';
import Sidebar from '../components/Sidebar.astro';
import TopNavigation from '../components/TopNavigation.astro';
import PlayLists from '../components/PlayLists.astro';
import Artists from '../components/Artists.astro';
import Podcasts from '../components/Podcasts.astro';
---

<Layout title="Home">
	<main class="main">

		<Sidebar></Sidebar>

		<section class="content">

			<TopNavigation></TopNavigation>

			<div class="main-block">
				
				<PlayLists></PlayLists>
				<Artists></Artists>
				<Podcasts></Podcasts>
				
			</div>
		</section>


	</main>
</Layout>