---
---

<div class="flex justify-between items-center py-2 bg-[#0d0d0d] px-6 rounded-t-lg">
    <div class="">
        <button data-testid="top-bar-back-button" aria-label="Go back">
            <svg role="img" height="16" width="16" aria-hidden="true" class="Svg-sc-ytk21e-0 leya-dW IYDlXmBmmUKHveMzIPCF" viewBox="0 0 16 16" data-encore-id="icon"><path fill="#a2a1aa" d="M11.03.47a.75.75 0 0 1 0 1.06L4.56 8l6.47 6.47a.75.75 0 1 1-1.06 1.06L2.44 8 9.97.47a.75.75 0 0 1 1.06 0z"></path></svg>
        </button>
        <button data-testid="top-bar-forward-button" aria-label="Go forward" >
            <svg role="img" height="16" width="16" aria-hidden="true" class="Svg-sc-ytk21e-0 leya-dW IYDlXmBmmUKHveMzIPCF" viewBox="0 0 16 16" data-encore-id="icon"><path fill="#a2a1aa" d="M4.97.47a.75.75 0 0 0 0 1.06L11.44 8l-6.47 6.47a.75.75 0 1 0 1.06 1.06L13.56 8 6.03.47a.75.75 0 0 0-1.06 0z"></path></svg>
        </button>
    </div>
    <div>
        <a href="">Sign up</a>
        <a href="">Log in</a>
    </div>
</div>